body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color:cornflowerblue;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  img {
    width: 40%;
    height: auto;
    object-fit: cover; 
  }